/* Space out content a bit */
.hidden {
  display: none;
}

.visible {
  display: flex;
}

body {
  padding-top: 8px;
  padding-bottom: 8px;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
}

li {
  font-size: 1rem;
}

/* Custom page header */
.header {
  /* padding-bottom: 20px; */
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: indigo !important;
  border-top: 1px solid #e5e5e5;
}


body {
  color: white !important;
  background-color: black;
}

.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left;
  display: inline-flex;
}

.nav .nav-pills {
  order: 1;
}

.jumbotron {
  order: 2;
}

.navbar-global {
  background-color: indigo;
}

.navbar-global .navbar-brand {
  color: white;
}

.navbar-global .navbar-user>li>a {
  color: white;
}

.navbar-primary {
  background-color: indigo;
  position: relative;
  min-width: 5vw;
  /* width: ; */
  /* max-width: 10vw; */
  height: calc(90vh-4px);
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary {
  margin-right: 4px;
  font-size: 1.1em;
  height: calc(90vh-4px);
}

.navbar-primary.collapsed {
  width: 5vw;
  height: calc(90vh-4px);
}

.navbar-primary.collapsed .glyphicon {
  font-size: 2em;
  text-align: center;
  line-height: calc(90vh/6);
}

.navbar-primary.collapsed .nav-label {
  display: none !important;
}

.btn-expand-collapse {
  position: relative;
  border-top: solid 1px #666;
  color: indigo;
  text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
  background-color: #222;
  color: white;
}

.btn-expand-collapse:active {
  background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li,
.btn-expand-collapse {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0 !important;
  list-style: none;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  height: -webkit-fill-available;
}

.navbar-primary-menu li {
  height: calc(80vh/6);
}

.navbar-primary-menu li a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  border-bottom: solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}

.navbar-primary-menu li a .glyphicon {
  /* margin-right: 6px; */
  text-align: center;
}

.navbar-primary-menu li a:hover {
  color: orchid;
}

.pressme {
  /* cool */
  display: flex;
}

.pressme-bar {
  /* cool */
  order: 1;
}

.pressme-content {
  /* cool */
  order: 2;
}

.pad {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 6rem;
  /* max-width: 60px; */
  height: 6rem;
  box-shadow: 2px 8px 6px -6px whitesmoke;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.4);
  user-select: none;
  border: 2px solid indigo;
  border-radius: 3px;
  margin: 5px;
}

.box:hover {
  background-color: lighten(#444, 10%);
  cursor: pointer;
}

.box:active {
  background-color: darken(#444, 10%);
  transform: scale(1.1);
  transition: all 0.2s;
}

.active {
  background-color: darken(#444, 10%);
  transform: scale(1.1);
  transition: all 0.2s;
}

.pad-1,
.pad-2,
.pad-3,
.pad-4,
.pad-5,
.pad-6,
.pad-7,
.pad-8,
.pad-9,
.pad-10 {

  border: 3px solid indigo;
  border-radius: 3px;
}

.pad-6,
.pad-7,
.pad-8,
.pad-9,
.pad-10 {

  border: 2px solid #cc2ebf;
  border-radius: 3px;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.jumbotron {
  float: right;
  margin: 4px;
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  .box {
    width: 5rem;
    /* max-width: 60px; */
    height: 5rem;
    box-shadow: 2px 8px 6px -6px whitesmoke;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem !important;
    color: rgba(255, 255, 255, 0.4);
    user-select: none;
    border: 2px solid indigo;
    border-radius: 3px;
    margin: 3px;
  }

  .navbar-primary {
    background-color: indigo;
    position: relative;
    width: 4rem;
    /* max-width: 10vw; */
    height: 90vh;
    z-index: 4;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  .navbar-primary.collapsed {
    width: 10vw;
    height: 90vh;
    margin: 0;
  }

  .navbar-primary.collapsed .glyphicon {
    font-size: 3em;
    text-align: center;
    line-height: 3em;
  }

  .navbar-primary.collapsed .nav-label {
    display: none !important;
  }

  .jumbotron {
    width: 49vw;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
  }

  .jumbotron {
    font-size: 1.5rem;
  }
}