<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flasketvj</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet" />
  </head>

  <body class="bg-dark text-white">
    <div class="container-fluid">
      <div class="header clearfix">
        <nav class="navbar navbar-dark bg-dark text-white">
          <ul class="nav nav-pills">
            <a href="/" class="navbar-brand" style="padding-top: 0;padding-bottom: 0;">
              <img src="static/images/pilogo.svg.png" style="width:auto; height:40px" />
            </a>
            <div style="display:inline-block;line-height:40px;float:left;font-size: smaller;">
              pi@{{ hostname }} -->
            </div>
            <div style="display:inline-block;line-height:40px;float:left;font-size: smaller;margin-right: 16px;">
              {{ ipAddress }}
            </div>
          </ul>
          <div class="jumbotron" style="background-color:darkslategrey!important;">
            <div class="monitor">
              <h2 id="monitor" style="background-color:darkslategrey!important;">{{ monitor }}</h2>
            </div>
          </div>
        </nav>
      </div>
      <div id="pressme" class="pressme">
        <div id="pressme-bar" class="pressme-bar">
          <nav class="navbar-primary">

            <ul class="navbar-primary-menu">
              <li><a type="button" id="mapping"><span class="glyphicon glyphicon-screenshot"></span><span
                    class="nav-label">Mapping mode</span></a>
              </li>
              <li><a type="button" id="texture"><span class="glyphicon glyphicon-cog"></span><span
                    class="nav-label">Texture Editing Mode</span></a>
              </li>
              <li><a type="button" id="source"><span class="glyphicon glyphicon-film"></span><span
                    class="nav-label">Source selection mode</span></a>
              </li>
              <li>
                <a type="button" id="presentation"><span class="glyphicon glyphicon-play"></span><span
                    class="nav-label">Presention mode</span></a>
              </li>
              <!-- TODO:connect settings wheel -->
              <li><a type="button" id="config_mode"><span class="glyphicon glyphicon-cog"></span><span
                    class="nav-label">Config</span></a>
              </li>
              <!-- TODO:connect settings wheel -->
              <li>
                <a class="btn-expand-collapse"><span class="arrow glyphicon glyphicon-menu-left"></span></a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- TODO:connect buttons -->
        <div class="pressme-content" style="color:whitesmoke;">
          <div class="pad mapping_mode">
            <div class="box mapper_save glyphicon glyphicon-floppy-save">Save</div>
            <div class="box add_grid">🗺️ Grid</div>
            <div class="box add_quad">🟥 Quad</div>
            <div class="box add_triangle">🔺 Tria</div>
            <div class="box add_circle">🔴 Circ</div>
            <div class="box newcomp glyphicon glyphicon-floppy-remove"> 🆕</div>
            <div class="box delete">DEL ❌</div>
            <div class="box undo">ctrl+Z 🦄</div>
            <div class="box pause"> ⏹️ ▶️ </div>
            <div class="box duplicate">✖️2</div>
            <div class="box scale_up glyphicon glyphicon-resize-small">➖</div>
            <div class="box scale_down glyphicon glyphicon-resize-full">➕</div>
            <div class="box previous_surface glyphicon glyphicon-step-backward">🗺️</div>
            <div class="box next_surface glyphicon glyphicon-step-forward">🗺️</div>
            <div class="box remove_columns glyphicon glyphicon-object-align-top">➖</div>
            <div class="box add_columns glyphicon glyphicon-object-align-top">➕</div>
            <div class="box remove_rows glyphicon glyphicon-object-align-left">➖</div>
            <div class="box add_rows glyphicon glyphicon-object-align-left">➕</div>
            <div class="box previous_vertex">
              <div class="glyphicon glyphicon-chevron-left"></div>Vertex
            </div>
            <div class="box next_vertex">Vertex<div class="glyphicon glyphicon-chevron-right"></div>
            </div>
            <div class="box layer_panel glyphicon glyphicon-unchecked">Layer Panel</div>
            <div class="box layer_down glyphicon glyphicon-chevron-down">Layer</div>
            <div class="box layer_up glyphicon glyphicon-chevron-up">Layer</div>
            <div class="box next_source glyphicon glyphicon-arrow-right">Next Source</div>
            <div class="box accuracy glyphicon glyphicon-screenshot">1px/10px</div>
          </div>
          <div class="pad mapping_mode">
            <div class="box arrow_up glyphicon glyphicon-arrow-up"></div>
          </div>
          <div class="pad mapping_mode">
            <div class="box arrow_left glyphicon glyphicon-arrow-left"></div>
            <div class="box arrow_down glyphicon glyphicon-arrow-down"></div>
            <div class="box arrow_right glyphicon glyphicon-arrow-right"></div>
          </div>
          <div class="pad texture_mode">
            <div class="box accuracy glyphicon glyphicon-screenshot">1px/10px</div>
            <div class="box arrow_right glyphicon glyphicon-arrow-right"></div>
            <div class="box arrow_up glyphicon glyphicon-arrow-up"></div>
            <div class="box arrow_left glyphicon glyphicon-arrow-left"></div>
            <div class="box arrow_down glyphicon glyphicon-arrow-down"></div>
          </div>
          <div class="pad source_selection_mode">
            <div class="box accuracy glyphicon glyphicon-screenshot">1px/10px</div>
            <div class="box arrow_right glyphicon glyphicon-arrow-right"></div>
            <div class="box arrow_up glyphicon glyphicon-arrow-up"></div>
            <div class="box arrow_left glyphicon glyphicon-arrow-left"></div>
            <div class="box arrow_down glyphicon glyphicon-arrow-down"></div>
          </div>
          <div class="pad present_mode">
            <div class="box accuracy glyphicon glyphicon-screenshot">1px/10px</div>
            <div class="box arrow_right glyphicon glyphicon-arrow-right"></div>
            <div class="box arrow_up glyphicon glyphicon-arrow-up"></div>
            <div class="box arrow_left glyphicon glyphicon-arrow-left"></div>
            <div class="box arrow_down glyphicon glyphicon-arrow-down"></div>
          </div>
          <div class="pad present_mode">
            <div class="box accuracy glyphicon glyphicon-screenshot">1px/10px</div>
            <div class="box arrow_right glyphicon glyphicon-arrow-right"></div>
            <div class="box arrow_up glyphicon glyphicon-arrow-up"></div>
            <div class="box arrow_left glyphicon glyphicon-arrow-left"></div>
            <div class="box arrow_down glyphicon glyphicon-arrow-down"></div>
          </div>
          <div class="pad config_mode">
            <div class="box pad-1">Config</div>
            <div type="button" id="turn_on" class="box btn btn-success">Mapper on</div>
            <div type="button" id="turn_off" class="box btn btn-danger">Mapper off</div>
            <div type="button" id="clearconsole" class="box btn btn-primary">Clear Cli</div>
            <div type="button" id="ext" class="box btn btn-primary">Ext 2 Cli</div>
            <div type="button" id="reboot" class="box btn btn-primary">Reboot</div>
            <div type="button" id="shudown" class="box btn btn-primary">Power off</div>
          </div>

        </div>
      </div>
      <!-- <div class="row marketing">
                    <div class="col-lg-12">
                        <h4>Sensor value:</h4>
                        <p>{{ sensor_value }}</p>

                        <h4>Change LED</h4>
                        <p>
                            <button type="button" id="set_on" class="btn btn-success">Turn on the light</button>
                            <button type="button" id="set_off" class="btn btn-danger">Turn off the light</button>
                        </p>
                    </div>
                </div> -->

      <footer class="footer">
        <p>Cyberfreak Creative Studio @ l00f00</p>
      </footer>
    </div>
    <!-- /container -->

    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
      integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/application.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/mapper.js') }}"></script>
  </body>

</html>