<!DOCTYPE html>
<html>

    <head>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flasketvj - Mapper </title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    </head>

    <body class="">

        <div class="nav">
            <div class="nav-item1">
                <a href="/"><img src="static/images/pilogo.svg.png" style="max-height:20px;max-width: auto;" />
                    pi@</a>{{ hostname }}{{ ipAddress }}</div>
            <div class="nav-item2"><a href="/mapper_run">Turn on</a></div>
            <div class="nav-item3"><a href="/mapper_kill">Turn offt</a></div>
            <div class="nav-item4"><a href="/reboot">Reboot</a></div>
            <div class="nav-item5"><a href="/shutdown">Power off</a></div>
            <div class="nav-item6"><a href="/clear_console">Clear CLI</a></div>
            <div class="nav-item7"><a href="/ext">Exit2CLI</a></div>
        </div>
        <div class="divMonitor">
            <div class="monitor">{{ infoText }}</div>
        </div>
        <div class="tabset">
            <!-- Tab 1 -->
            <input type="radio" name="tabset" id="tab1" aria-controls="mapper1"
                onclick="window.location='/present_mode';">
            <label for="tab1">Presentation Mode</label>
            <!-- Tab 2 -->
            <input type="radio" name="tabset" id="tab2" aria-controls="mapper2"
                onclick="window.location='/mapping_mode';">
            <label for="tab2">Mapping Mode</label>
            <!-- Tab 3 -->
            <input type="radio" name="tabset" id="tab3" aria-controls="mapper3"
                onclick="window.location='/present_mode';">
            <label for="tab3">Texture Editing Mode</label>
            <!-- Tab 4 -->
            <input type="radio" name="tabset" id="tab4" aria-controls="mapper4"
                onclick="window.location='/source_selection_mode';">
            <label for="tab4">Source selection Mode</label>
            <!-- Tab 5 -->
            <input type="radio" name="tabset" id="tab5" aria-controls="mapper5"
                onclick="window.location='/mapper_save';">
            <label for="tab5">Save</label>
            <!-- Tab 6 -->
            <input type="radio" name="tabset" id="tab6" aria-controls="mapper6">
            <label for="tab6">Arrows</label>
            <!-- Tab 6 -->
            <input type="radio" name="tabset" id="tab7" aria-controls="mapper7" onclick="window.location='/Undo';">
            <label for="tab6">Undo</label>
            <!-- Tab 7 -->
            <input type="radio" name="tabset" id="tab7" aria-controls="mapper7"
                onclick="window.location='/show_controls';">
            <label for="tab6">Info</label>

            <div class="tab-panels">
                <section id="mapper1" class="tab-panel">
                    presentation
                    <a href="/newcomp">
                        <div class="">New Composition</div>
                    </a>
                    <a href="/mapper_save">
                        <div class="">!SAVE!</div>
                    </a>
                </section>
                <section id="mapper2" class="tab-panel">
                    <a href="/pause">
                        <div class="div3">Pause</div>
                    </a>
                    <a href="/accuracy">
                        <div class="">accuracy</div>
                    </a>
                    <a href="/next_surface">
                        <div class="div4">select next surface</div>
                    </a>
                    <a href="/previous_surface">
                        <div class="div5">select previous surface</div>
                    </a>
                    <a href="/newcomp">
                        <div class="div3">New Composition</div>
                    </a>
                    <a href="/add_triangle">
                        <div class="div2">Add Triangle</div>
                    </a>
                    <a href="/add_quad">
                        <div class="div3">Add Quad</div>
                    </a>
                    <a href="/add_grid">
                        <div class="div4">Add Grid Warp</div>
                    </a>
                    <a href="/add_circle">
                        <div class="div5">Add circle surface</div>
                    </a>
                    <a href="/duplicate">
                        <div class="div1">Duplicate Selected</div>
                    </a>
                    <a href="/scale_up">
                        <div class="div2">Scale surface up +</div>
                    </a>
                    <a href="/scale_down">
                        <div class="div3">Scale surface down -</div>
                    </a>
                    <a href="/toggle_perspective">
                        <div class="div4">Toggle perspective</div>
                    </a>
                    <a href="/add_columns">
                        <div class="div5">Add columns to grid</div>
                    </a>
                    <a href="/remove_columns">
                        <div class="div1">Remove columns</div>
                    </a>
                    <a href="/add_rows">
                        <div class="div2">add rows to grid</div>
                    </a>
                    <a href="/remove_rows">
                        <div class="div3">Remove rows</div>
                    </a>
                    <a href="/layer_up">
                        <div class="div3">layer_up</div>
                    </a>
                    <a href="/layer_down">
                        <div class="div4">layer_down</div>
                    </a>
                    <a href="/next_vertex">
                        <div class="div1">select next vertex</div>
                    </a>
                    <a href="/previous_vertex">
                        <div class="div2">previous next vertex</div>
                    </a>
                    <a href="/delete">
                        <div class="div1">Delete surface</div>
                    </a>
                    <a href="/arrow_up">
                        <div class="">arrow_up</div>
                    </a>
                    <a href="/arrow_down">
                        <div class="">arrow_down</div>
                    </a>
                    <a href="/arrow_left">
                        <div class="">arrow_left</div>
                    </a>
                    <a href="/arrow_right">
                        <div class="">arrow_right</div>
                    </a>
                </section>
                <section id="mapper3" class="tab-panel">
                    texture
                </section>
                <section id="mapper4" class="tab-panel">
                    source
                    <a href="/next_source">
                        <div class="div4">Select next source</div>
                    </a>
                </section>
                <section id="mapper5" class="tab-panel">
                    save
                </section>
            </div>

        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="https://www.cyberfreak.it">Cyberfreak
                    Creative Studio</a>
            </div>
        </div>
        </footer>
    </body>

</html>